@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">        
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.tablesorter.js")"></script> 
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>                
        <script type="text/javascript">
		  $(function() {
			  $("#myTable").tablesorter();
	      });
	    </script>
    </head>
    <body>
    
        <header class="topbar">
            <h1 class="fill">
                    Pubmed Database Search
            </h1>
        </header>
        
         <section id="main">
            @content
        </section>
    </body>
</html>
